asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
cloudinary==1.44.1
crispy-tailwind==0.5.0
dj-database-url==2.1.0
Django==4.2.7
django-cloudinary-storage==0.3.0
django-cors-headers==4.3.1
django-crispy-forms==2.1
django-extensions==4.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
gunicorn==21.2.0
idna==3.10
packaging==25.0
pillow==10.4.0
psycopg==3.2.3
psycopg-binary==3.2.3
PyJWT==2.8.0
python-decouple==3.8
python-dotenv==1.1.1
pytz==2024.1
requests==2.32.4
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.8.0
urllib3==2.2.3
whitenoise==6.6.0
